# Module 2 - Data Structures

**_Authors: Favio Vázquez and Jessica Cervi_**

### Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)
- [Question 10](#Question-10)
- [Question 11](#Question-11)
- [Question 12](#Question-12)
- [Question 13](#Question-13)
- [Question 14](#Question-14)
- [Question 15](#Question-15)
- [Question 16](#Question-16)
- [Question 17](#Question-17)

### Instructions:
    
Welcome to week 2. In this week, you learned about the basics of working with data in Python with Pandas and its companion libraries. You'll be working on several exercises about Pandas to test your abilities and apply your knowledge.

Starting from the cell below, you'll have to fill in the blanks and solve the problems as requested. Remember to take your time and make sure that you are answering each question correctly!


All the questions in the assigments will be graded automatically and you will have the chance to fix your solutions many times in order to get the expected output. Make sure to follow the steps carefully (and don't delete or change anything unless you're asked to).

Below you can see the structure of the questions. In the markdown cell just before the question, you will see the question number and the description of what has been asked. 

Next, there is a code cell starting with the comment: `### GRADED`. This means that the cell will  be autograded.

The line `###BEGIN SOLUTION` tells you where to write your solution. You can use as many auxiliary variables and additional codes as you need. Note that we have already initialized the answer variables that you will need for you final answer. These variables and assigned them to `None`. This is to avoid errors when typing the variable names that contain the results. You can replace the value `None` with the actual answer or redefine it below.

You will see a second code cell with the autograded solution. **DO NOT CHANGE ANYTHING IN THAT CELL**

Finally, you will be able to see the feedback for each of your question by opning the Grading Report that is generated everytime you submit an answer. There you will find useful links to video of this course that will help you solve the question.

## Question 1
Create a Pandas dataframe called `df` containing 3 columns named `id, name, last_name` and the values:

| id | name  | last_name |
|----|-------|-----------|
| 1  | Peter | Homs      |
| 2  | James | Miller    |
| 3  | Mark  | Huldi     |

In [1]:
### GRADED
import pandas as pd

### YOUR SOLUTION HERE
df = pd.DataFrame({"id":[1,2,3], "name":["Peter","James","Mark"],"last_name":["Homs","Miller","Huldi"]})
print(df)
###
### YOUR CODE HERE
###

   id   name last_name
0   1  Peter      Homs
1   2  James    Miller
2   3   Mark     Huldi

In [2]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 2

Take the dataframe `df` from question 1 and select the column `name` and assign it to a variable called `df_column`. Note: the new structure in `df_column` must also be a Pandas dataframe, not a Series object.

In [3]:
### GRADED
### YOUR SOLUTION HERE
df_column = pd.DataFrame(df["name"])
print(df_column)

###
### YOUR CODE HERE
###

    name
0  Peter
1  James
2   Mark

In [4]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 3

Take the dataframe `df` from question 1, select the first row and assign it to a variable called `df_first_row`. Next, select the last row and assign to a variable called `df_last_row`.

In [5]:
### GRADED
### YOUR SOLUTION HERE
#print(df.head())

df_first_row = (df.iloc[0])
df_last_row = (df.iloc[-1])

print(df_first_row)
print(df_last_row)
###
### YOUR CODE HERE
###

id               1
name         Peter
last_name     Homs
Name: 0, dtype: object
id               3
name          Mark
last_name    Huldi
Name: 2, dtype: object

In [6]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 4

Take the dataframe `df` from question 1 and rename the first column to `Name` and the second one to `Last_Name`.

In [7]:
### GRADED
### YOUR SOLUTION HERE

newcolumns = {"name":"Name","last_name":"Last_Name" }
df.rename(columns = newcolumns, inplace = True)

print(df)

###
### YOUR CODE HERE
###

   id   Name Last_Name
0   1  Peter      Homs
1   2  James    Miller
2   3   Mark     Huldi

In [8]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 5


Read the CSV file named `"foo.csv"` in the `data/` folder and assign it to a dataframe called `df_2`.

In [9]:
### GRADED
### YOUR SOLUTION HERE
df_2 = pd.read_csv("data/foo.csv")
print(df_2.head())
###
### YOUR CODE HERE
###

   id firstName     lastName  billingId product  price       birth dummyCol
0   1      Luis  Alvarez$$%!        123    Cake     10  1980/07/07    never
1   2     André       Ampère        423    piza      8  1950/07/08    gonna
2   3     NiELS   Böhr//((%%        551   pizza      8  1990/07/09     give
3   4      PAUL       dirac$        521   pizza      8  1954/07/10      you
4   5    Albert     Einstein        634   pizza      8  1990/07/11       up

In [10]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 6

Delete the column with label `product` from dataframe `df_2` above. Reassign the result to `df_2` or use an `inplace` operation.

In [11]:
### GRADED
### YOUR SOLUTION HERE

df_2 = df_2.drop("product", axis = 1)
print(df_2.head())

###
### YOUR CODE HERE
###

   id firstName     lastName  billingId  price       birth dummyCol
0   1      Luis  Alvarez$$%!        123     10  1980/07/07    never
1   2     André       Ampère        423      8  1950/07/08    gonna
2   3     NiELS   Böhr//((%%        551      8  1990/07/09     give
3   4      PAUL       dirac$        521      8  1954/07/10      you
4   5    Albert     Einstein        634      8  1990/07/11       up

In [12]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 7

Take the dataframe `df_2` from above and sort the column `price` in ascending order. Assign the new dataframe to a variable called `df_2_sort`.

In [13]:
### GRADED
### YOUR SOLUTION HERE
df_2_sort = df_2.sort_values(by=['price'])

###
### YOUR CODE HERE
###

In [14]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 8

Read the CSV file named `"data.csv"` in the `data/` folder and assign it to a dataframe called `df_3`. Then group by the column `season` and perform a count. Assign the solution to `df_3_grouped`.

In [15]:
### GRADED
### YOUR SOLUTION HERE
df_3 = pd.read_csv("data/data.csv")
df_3_grouped = df_3.groupby("season").count()

print(df_3_grouped.head())
###
### YOUR CODE HERE
###

        datetime  holiday  workingday  weather  temp  atemp  humidity  \
season
1           2686     2686        2686     2686  2686   2686      2686
2           2733     2733        2733     2733  2733   2733      2733
3           2733     2733        2733     2733  2733   2733      2733
4           2734     2734        2734     2734  2734   2734      2734

        windspeed  casual  registered  count  hour  year  month  weather_label
season
1            2686    2686        2686   2686  2686  2686   2686           2686
2            2733    2733        2733   2733  2733  2733   2733           2733
3            2733    2733        2733   2733  2733  2733   2733           2733
4            2734    2734        2734   2734  2734  2734   2734           2734

In [16]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 9

Take the dataframe `df_3` and create a filter to get all rows where the column `humidity` is less or equal than 85. Call this new dataframe `df_humid`.

In [17]:
### GRADED
### YOUR SOLUTION HERE
df_humid = df_3[df_3.humidity <=85]

###
### YOUR CODE HERE
###

In [18]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 10

Take the dataframe `df_3` and create a filter to get all rows where the column `temp` is greater or equal than 10. Call this new dataframe `df_temp`.

In [19]:
### GRADED
### YOUR SOLUTION HERE
df_temp = df_3[df_3.temp >=10]

###
### YOUR CODE HERE
###

In [20]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 11

Take the dataframe `df_3` and compute the average of the column `windspeed` and assign the value to the variable `average_wind`.

In [21]:
### GRADED
### YOUR SOLUTION HERE
average_wind = df_3.windspeed.mean()
print(average_wind)
###
### YOUR CODE HERE
###

12.799412663053463

In [22]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 12

Create a lambda function in Python called `squaring` that squares a certain variable `x`. Next, apply this function to *all* the entries of the column `atemp` in the dataframe `df_3` using the pandas command `map`. Assign the result to `squared_atemp`.

In [23]:
### GRADED
### YOUR SOLUTION HERE
squaring = lambda x : x*x
squared_atemp = squaring(df_3.atemp)

###
### YOUR CODE HERE
###

In [24]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 13

Create a function called `uniques` that takes a dataframe and returns a `list` with the names of the columns and the number of unique values for each column. Each item in the list should be a `tuple` with `(column, number of unique values)`. 

Then test the function on the dataframe `df_3` and assign the solution in to variable called `sol`.

In [25]:
### GRADED
### YOUR SOLUTION HERE
def uniques(x):
    solution = []
    for i in x:
        #y = x[i].count()
        y = len(pd.unique(x[i]))
        #print(y)
        solution.append(tuple((i,y)))
        #print(solution)
    return solution
        
        
    
#Use a for loop and apply the function unique()
#Must be a tuple to get the points 


sol = uniques(df_3)
print(sol)

###
### YOUR CODE HERE
###

[('datetime', 10886), ('season', 4), ('holiday', 2), ('workingday', 2), ('weather', 4), ('temp', 49), ('atemp', 60), ('humidity', 89), ('windspeed', 28), ('casual', 309), ('registered', 731), ('count', 822), ('hour', 24), ('year', 2), ('month', 12), ('weather_label', 4)]

In [26]:
uniques(df_3)

[('datetime', 10886),
 ('season', 4),
 ('holiday', 2),
 ('workingday', 2),
 ('weather', 4),
 ('temp', 49),
 ('atemp', 60),
 ('humidity', 89),
 ('windspeed', 28),
 ('casual', 309),
 ('registered', 731),
 ('count', 822),
 ('hour', 24),
 ('year', 2),
 ('month', 12),
 ('weather_label', 4)]

In [27]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 14

Create a dataframe called `joined` by performing a left join on the dataframes `A` and `B` on the column `key`.

In [28]:
### GRADED
A = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                  'A': ['A0', 'A1', 'A2', 'A3'],
                  'B': ['B0', 'B1', 'B2', 'B3']})


B = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K5'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']})

### YOUR SOLUTION HERE
#joined = A.set_index('key').join(B.set_index('key'))
joined = A.merge(B, on='key', how='left')
#joined = pd.merge(A,B)
print(joined)

###
### YOUR CODE HERE
###

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K3  A3  B3  NaN  NaN

In [29]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 15

Read the CSV file named `"data.csv"` in the `data/` folder and assign it to a dataframe called `df_4`. Then sort the column `temp` in ascending order and save to a variable called `sort_by_temp`.

In [30]:
### GRADED
### YOUR SOLUTION HERE
df_4 = pd.read_csv('data/data.csv')
sort_by_temp = df_4.sort_values(by=['temp'], ascending=True)

print(sort_by_temp.head())
###
### YOUR CODE HERE
###

                 datetime  season  holiday  workingday  weather      temp  \
5499  2012-01-04 06:00:00       1        0           1        1  0.819824
5495  2012-01-04 02:00:00       1        0           1        1  0.819824
5501  2012-01-04 08:00:00       1        0           1        1  0.819824
5500  2012-01-04 07:00:00       1        0           1        1  0.819824
5498  2012-01-04 05:00:00       1        0           1        1  0.819824

         atemp  humidity  windspeed  casual  registered  count  hour  year  \
5499  2.275391        41       11.0       0          59     59     6  2012
5495  0.759766        34       19.0       0           1      1     2  2012
5501  3.029297        44        9.0       5         310    315     8  2012
5500  2.275391        44       13.0       1         151    152     7  2012
5498  2.275391        41       13.0       0          14     14     5  2012

      month weather_label
5499      1         Clear
5495      1         Clear
5501      1         Clear
5500      1         Clear
5498      1         Clear

In [31]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 16

Create a Pandas dataframe called `df_5` containing 5 columns named `name, age, gender, state, num_pets` and the values:

| name | age| gender|state|num_pets |
|------|----|-------|-----|---------|
| john | 23 | M     |california|5|
| mary | 78 | F     |dc|1|
| peter| 22 | M     |california|0|
|jeff  |19  | M     |dc|5|
|bill  |45  | M     |dc|2|
|lisa  |33  | F     |california|2|
|jose|20|M|texas|3

You can use the provided lists to avoid typing errors. Next, sort the column age in descending order and assign it to a variable called `age_des`.

In [32]:
### GRADED
name     = ['john','mary','peter','jeff','bill','lisa','jose']
age      = [23,78,22,19,45,33,20]
gender   = ['M','F','M','M','M','F','M']
state    = ['california','dc','california','dc','dc','california','texas']
num_pets = [5,1,0,5,2,2,3]

### YOUR SOLUTION HERE
col = ['name','age','gender','state','num_pets']
df_5 = pd.DataFrame(list(zip(name, age, gender, state, num_pets)), columns = col)

age_des = df_5.sort_values('age', ascending=False)
age_des.head()
###
### YOUR CODE HERE
###

    name  age gender       state  num_pets
1   mary   78      F          dc         1
4   bill   45      M          dc         2
5   lisa   33      F  california         2
0   john   23      M  california         5
2  peter   22      M  california         0

In [33]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

## Question 17

From the dataframe `df_5`, remove the duplicates from the column `state` and assign the result to a new dataframe called `single_states`.

In [36]:
### GRADED
### YOUR SOLUTION HERE
single_states = df_5.drop_duplicates(subset=['state'])

single_states.head()
###
### YOUR CODE HERE
###

   name  age gender       state  num_pets
0  john   23      M  california         5
1  mary   78      F          dc         1
6  jose   20      M       texas         3

In [35]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###