### Lab 04 - pandas II
Name: Dempsey Wade 

Class: CSCI 349 - Intro to Data Mining 

Semester: 2019SP 

Instructor: Brian King

In [1]:
import sys
import numpy as np
import pandas as pd

In [2]:
days = ["Mon","Tue","Wed","Thur","Fri"]
scores = pd.DataFrame([pd.Series([9.5, 8.75, 8, 10, 7.75], index=days, name="week_1"), pd.Series([9, 8, 10, 8.75, 7.25], index=days, name="week_2"), pd.Series([8.5, 8, 9.75, 9, 6], index=days, name="week_3"), pd.Series([6.5, 8.25, 9, 8, 7.5], index=days, name="week_4")])
print(scores)

        Mon   Tue    Wed   Thur   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00
week_4  6.5  8.25   9.00   8.00  7.50

### 1) [P] Report the number of dimensions, the shape, the size of the data, and the data types in the scores.

In [3]:
print(scores.info())
print("Shape: ", scores.shape[0])
print("Size: ", scores.size)
print("Scores type: float64 ")

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, week_1 to week_4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mon     4 non-null      float64
 1   Tue     4 non-null      float64
 2   Wed     4 non-null      float64
 3   Thur    4 non-null      float64
 4   Fri     4 non-null      float64
dtypes: float64(5)
memory usage: 192.0+ bytes
None
Shape:  4
Size:  20
Scores type: float64

### 2) [P] How many observations? How many variables (i.e. columns)?

In [4]:
print("Observations: ", len(scores.columns)*scores.shape[0])
print("Variables: ", len(scores.columns))

Observations:  20
Variables:  5

### 3) [P] Rename the 'Thur' column header to be 'Thu' Show the new scores data frame

In [5]:
scores.rename(columns = {'Thur':'Thu'}, inplace = True)
print(scores)

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00
week_4  6.5  8.25   9.00   8.00  7.50

### 4) [P] Rename the index to be 'w1', 'w2', 'w3', and 'w4'. Rename the variables to be 'Mo', 'Tu', 'We', 'Th', 'Fr'. Your new updates scores set should be as follows:

In [6]:
scores.rename({'week_1':'w1', 'week_2':'w2', 'week_3':'w3', 'week_4':'w4'}, inplace = True)
scores.rename(columns = {'Mon':'Mo', 'Tue':'Tu', 'Wed':'We', 'Thu':'Th', 'Fri':'Fr'}, inplace = True)
print(scores)

     Mo    Tu     We     Th    Fr
w1  9.5  8.75   8.00  10.00  7.75
w2  9.0  8.00  10.00   8.75  7.25
w3  8.5  8.00   9.75   9.00  6.00
w4  6.5  8.25   9.00   8.00  7.50

### 5) [M] Compare the type of the expression scores ['Mo'] vs. scores [['Mo']]. What is the difference? Explain.

In [9]:
#Retains the object
print(scores['Mo'])

#Gets the values
print(scores[['Mo']])

w1    9.5
w2    9.0
w3    8.5
w4    6.5
Name: Mo, dtype: float64
     Mo
w1  9.5
w2  9.0
w3  8.5
w4  6.5

The difference is the header. [['Mo']] does not print out the data type.

### 6) [M] What does the keys() method of data frames do? Demonstrate it on the scores data frame.

In [10]:
print(scores.keys())
#The keys() method returns the column headers and the data type

Index(['Mo', 'Tu', 'We', 'Th', 'Fr'], dtype='object')

### 7) [M] Read about the describe() method of data frames. (FYI - This is essentially the equivalent to the summary() function in R.)

Describe returns a numerical description of each column, including their standard deviation, the mean, the min and max, and others. It also allows you to find any outliers.

### 8) [P] Demonstrate the describe() method on scores. What type does it return? (This makes it quite usable!) Look at the output. Which day had the largest standard deviation in quiz scores?

In [11]:
print(scores.describe())
#Data type: DataFrame
#Largest standard deviation: Mo

             Mo        Tu         We         Th        Fr
count  4.000000  4.000000   4.000000   4.000000  4.000000
mean   8.375000  8.250000   9.187500   8.937500  7.125000
std    1.314978  0.353553   0.898494   0.826009  0.777282
min    6.500000  8.000000   8.000000   8.000000  6.000000
25%    8.000000  8.000000   8.750000   8.562500  6.937500
50%    8.750000  8.125000   9.375000   8.875000  7.375000
75%    9.125000  8.375000   9.812500   9.250000  7.562500
max    9.500000  8.750000  10.000000  10.000000  7.750000

### 9) [P] Write code to directly determine which day had the largest standard deviation in quiz scores. Your result should simply output the abbreviated name from the columns.

In [12]:
print(scores.describe().loc[['std']].idxmax(axis=1))

std    Mo
dtype: object

### 10 [P] Show the result of describe() on the transpose of the scores dataframe. Which week had the best average score?

In [13]:
print(scores.describe)
scores = scores.T
print(scores.describe())

<bound method NDFrame.describe of      Mo    Tu     We     Th    Fr
w1  9.5  8.75   8.00  10.00  7.75
w2  9.0  8.00  10.00   8.75  7.25
w3  8.5  8.00   9.75   9.00  6.00
w4  6.5  8.25   9.00   8.00  7.50>
              w1         w2        w3        w4
count   5.000000   5.000000  5.000000  5.000000
mean    8.800000   8.600000  8.250000  7.850000
std     0.958514   1.039832  1.414214  0.928709
min     7.750000   7.250000  6.000000  6.500000
25%     8.000000   8.000000  8.000000  7.500000
50%     8.750000   8.750000  8.500000  8.000000
75%     9.500000   9.000000  9.000000  8.250000
max    10.000000  10.000000  9.750000  9.000000

In [14]:
print(scores.describe().loc[['mean']].idxmax(axis=1))

mean    w1
dtype: object

In [15]:
#IGNORE: JUST TO GET .T BACK
scores = scores.T
print(scores)

     Mo    Tu     We     Th    Fr
w1  9.5  8.75   8.00  10.00  7.75
w2  9.0  8.00  10.00   8.75  7.25
w3  8.5  8.00   9.75   9.00  6.00
w4  6.5  8.25   9.00   8.00  7.50

### 11) [M] What does the .values attribute do?

In [16]:
# The .values prints a 2D array containing all of the values in the DataFrame
print(scores.values)

[[ 9.5   8.75  8.   10.    7.75]
 [ 9.    8.   10.    8.75  7.25]
 [ 8.5   8.    9.75  9.    6.  ]
 [ 6.5   8.25  9.    8.    7.5 ]]

### 12) [P] What is the mean of the entire data set?(HINT: .values may make this easy)

In [17]:
print(scores.values.mean(axis = 0).mean(axis = 0))

8.375

### 13) [P] What is the mean for each day? Do not use describe()

In [18]:
print(scores.mean(axis = 0))

Mo    8.3750
Tu    8.2500
We    9.1875
Th    8.9375
Fr    7.1250
dtype: float64

### 14) [P] Select the data frame for only Monday– Thursday using .loc, and again using .iloc

In [19]:
print(scores.loc[::1, 'Mo':'Th'])
print(scores.iloc[::1, 0:4])

     Mo    Tu     We     Th
w1  9.5  8.75   8.00  10.00
w2  9.0  8.00  10.00   8.75
w3  8.5  8.00   9.75   9.00
w4  6.5  8.25   9.00   8.00
     Mo    Tu     We     Th
w1  9.5  8.75   8.00  10.00
w2  9.0  8.00  10.00   8.75
w3  8.5  8.00   9.75   9.00
w4  6.5  8.25   9.00   8.00

### 15) [P] Show the mean for each week after your minimum score for each week was dropped.

In [20]:
print((scores.sum(axis = 1)).subtract(scores.min(axis = 1)).divide(len(scores)))

w1    9.0625
w2    8.9375
w3    8.8125
w4    8.1875
dtype: float64

### 16) [P] Select the weeks where Friday's score was greater than 7.25, using the [] operator

In [21]:
print(scores.loc[::1, 'Fr':'Fr'] > 7.25)

       Fr
w1   True
w2  False
w3  False
w4   True

### 17) [P] Use the where() method to repeat the previous exercise.

In [22]:
print(scores.loc[::1, 'Fr':'Fr'].where(scores.loc[::1, 'Fr':'Fr'] > 7.25))

      Fr
w1  7.75
w2   NaN
w3   NaN
w4  7.50

### 18) Select the data where each value is greater than the mean for all of the data. Your result should look like:

In [23]:
print(scores.where(scores.loc[::1, ::1] > scores.mean(axis = 0).mean(axis = 0)))

     Mo    Tu     We     Th  Fr
w1  9.5  8.75    NaN  10.00 NaN
w2  9.0   NaN  10.00   8.75 NaN
w3  8.5   NaN   9.75   9.00 NaN
w4  NaN   NaN   9.00    NaN NaN

### 19) [P] Select the scores where each value is greater than the week's mean value. Your result should look slightly different than the previous exercise:

In [24]:
scores = scores.T
print(scores.where(scores.loc[::1, ::1] > scores.mean(axis = 0)).T)

     Mo    Tu     We     Th  Fr
w1  9.5   NaN    NaN  10.00 NaN
w2  9.0   NaN  10.00   8.75 NaN
w3  8.5   NaN   9.75   9.00 NaN
w4  NaN  8.25   9.00   8.00 NaN

In [25]:
print(scores)

       w1     w2    w3    w4
Mo   9.50   9.00  8.50  6.50
Tu   8.75   8.00  8.00  8.25
We   8.00  10.00  9.75  9.00
Th  10.00   8.75  9.00  8.00
Fr   7.75   7.25  6.00  7.50

For the next several exercises, you will work with your first real dataset. Include the following code in a cell:

In [26]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' 
chip_df = pd.read_csv(url, sep = '\t')
#print(chip_df)

### 20) [P] How many columns in chip_df?

In [27]:
print("columns: ", chip_df.shape[1])

columns:  5

### 21) [P] How many observations are there in chip_df?

In [28]:
print("observations: ", chip_df.shape[0])

observations:  4622

### 22) [P] Show the columns of chip_df

In [29]:
print(chip_df.columns.values)

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

### 23) [P] Show the first 10 observations of chip_df

In [30]:
print(chip_df.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 24) [P] How many unique item_name entries are there?

In [31]:
print(len(chip_df.item_name.unique()))

50

### 25) How many distinct orders are there?

In [32]:
print(len(chip_df.choice_description.unique()))

1044

### 26) [P] What were the top 5 ordered items? (Be sure to consider the quantity of each item order!) How many of each were ordered?

In [33]:
#print(chip_df['item_name'].value_counts().head(5))
top5 = chip_df.groupby(['item_name']).sum()
print(top5.sort_values('quantity', ascending = False).head(5))

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### 27) [P] How many orders were for "Steak Burrito"?

In [34]:
print(top5.loc['Steak Burrito'].quantity)

386

### 28) [P] What is the most frequent item ordered for "Steak Burrito" orders? (You need to explore the choice_description variable!)

In [35]:
freq = chip_df.groupby(['item_name', 'choice_description']).sum().loc['Steak Burrito']
print(freq.sort_values('quantity', ascending = False).head(1))

                                                    order_id  quantity
choice_description
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     10833        12

### 29) [P] Run the describe() method on chip_df. Why are variables missing in the output? (Read the help for describe()!)

In [36]:
print(chip_df.describe())

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

The default for the describe() method is to only return columns that can be described numerically. Other variables, such as item_price, are not int's or float's so they have no numerical summary available.

### 30) [P] Can you readily compute the mean of the "item_price" variable? If not, why not?

In [38]:
#print(chip_df['item_price'].mean())
#It says the item_price variable is a string, not a float
#Can't compute the mean of a string
#Must convert to type float

### 31) [P] Convert the item_price field to a floating point number. Confirm by showing the output of info() NOTE – This is a classic example of the type of cleaning and preprocessing you need to always deal with when working with data. We'll be doing a LOT of this very soon!

In [41]:
price = [float(value[1 : -1]) for value in chip_df.item_price] #Inspired by git
chip_df['item_price'] = price

In [42]:
# clean the item_price column and transform it in a float
print(chip_df.info())
#Output shows that item_price is now float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB
None

### 32) [P] Compute the mean price for an order (NOTE–This is NOT just a mean of the item_price column!

In [43]:
#Compute total revenue for the day, divided by the number of orders for the day
#print(sum(chip_df.quantity*price)/(sum(chip_df['quantity'])))
#print((chip_df.quantity*price).mean())
chip_df['me'] = chip_df["item_price"]*chip_df["quantity"]
print(chip_df.groupby('order_id')['me'].sum().mean())

21.394231188658654

### 33) What was total revenue for the data? (NOTE-Make sure you consider the quantity variable!)

In [44]:
#price is the float representation of 'item_price'
print(sum(chip_df.quantity*price))

39237.020000000055

### 34) [P] Using Python and markdown, discuss the distribution of quantity – how many orders had quantity of 1? How many had 2? What is the average quantity? Range of values? Etc.

In [45]:
print('Quantity of 1: ', len(chip_df[chip_df.quantity == 1]))
print('Quantity of 2: ', len(chip_df[chip_df.quantity == 2]))
print('Quantity of 3 or more: ', len(chip_df[chip_df.quantity > 2]))
print('Average quanitity: ', chip_df['quantity'].mean())
print('Range of quantity: 1 to ', chip_df.quantity.max())

Quantity of 1:  4355
Quantity of 2:  224
Quantity of 3 or more:  43
Average quanitity:  1.0757247944612722
Range of quantity: 1 to  15