### Lab 03 - pandas I
Name: Dempsey Wade 

Class: CSCI 349 - Intro to Data Mining 

Semester: 2019SP 

Instructor: Brian King

### 1) [P] Report the Python, Numpy and Pandas version numbers

In [4]:
import sys
import numpy as np
import pandas as pd
print(sys.version)
print(np.version)
print(pd.__version__)

3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]
<module 'numpy.version' from '/Users/dwade/opt/anaconda3/lib/python3.7/site-packages/numpy/version.py'>
1.0.1

### 2) [P] Show the result of pd.show_versions().

In [5]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 20.3.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 56.0.0
Cython           : 0.29.15
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0
None

### 3) [M] Explain the relationship between numpy and pandas. How are they tied together? What core functionality does pandas add to numpy?

Numpy is a dependancy of pandas. Pandas allows you to manipulate data more than just numpy allows. Pandas advertises making importing and analyzing data much easier.

### 4) [M] The two primary data structures in pandas are Series and DataFrame. Compare and contrast these two types

A DataFrame is a 2D object that can house elements that are different types. 
Series are just a 1D array that can hold different data types. 
Both are an improvment to numpy's array and have different applications

### 5) [M] What are the data structures that can be used to create a Series object in pandas?

The data structures can be a python dictionary, a ndarray, or a scalar value

### 6) [M] What are the data structures that can be used to create a DataFrame object in pandas?

The data structures that can be used includes a dictionary of 1D arrays (including Series), 2D numpy arrays or another DataFrame

### 7) [M] What role does the index parameter play when creating a Series object? Does the index always need to be specified? If not, under what conditions is it needed? When can it be implied?

An index parameter does not need to always be set, but it helps keep your data more organized. It is basically a header for your columns. It can be implied when you create a DataFrame from an existing series or other DataFrame, the header comes along with the creation.

We're going to work with a very simple set of data, just to get you started. Enter the following Python lists in a cell in your notebook. They will represent some fictitious daily quiz scores for a couple of weeks of some course you are taking:

In [6]:
days = ["Mon","Tue","Wed","Thu","Fri"] 
scores_1 = [9.5, 8.75, 8, 10, 7.75] 
scores_2 = [9, 8, 10, 8.75, 7.25]

### 8) [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2"

In [7]:
week_1 = pd.Series(scores_1, index=days)
week_2 = pd.Series(scores_2, index=days)
print(week_1)
print(week_2)

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
dtype: float64
Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
dtype: float64

### 9) [P] Create a pandas DataFrame called scores, that represents the above data. Show your data frame. Your results should be arranged as follows: (NOTE: depending on how you construct your DataFrame, you might need to transpose your data frame using the T operator):

In [8]:
scores = pd.DataFrame({'week_1': week_1, 'week_2': week_2}).T
print(scores)

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

### 10) [P] Append one more week of data to scores. The data you are appending is [8.5, 8, 9.75 ,9, 6]. The row label on the new week is "week_3". Show your updated data frame. It should look like the following:

In [9]:
scores_3 = [8.5, 8, 9.75, 9, 6]
week_3 = pd.Series(scores_3, index = days)
temp = pd.DataFrame({'week_3':week_3}).T

scores = scores.append(temp, ignore_index = False)
print(scores)

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00

### 11) [M] Pandas has an ENORMOUS number of ways you can select your data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.) From their 10 minute tutorial: 
Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.

.at- Accesses a single value using a label

.iat- Accesses a single value for a row or a column pair by position

.loc- Accesses a group of rows and collumns by label

.iloc- Accesses an element based on position

### 12) [P] Show at least two different techniques to select scores for Monday using the string "Mon"

In [12]:
# Using filter
print(scores.filter(like='Mon'))

#Using the loc method
print(scores.loc['week_1':'week_3', 'Mon':'Mon'])

        Mon
week_1  9.5
week_2  9.0
week_3  8.5
        Mon
week_1  9.5
week_2  9.0
week_3  8.5

### 13) [P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [13]:
print(scores.Tue)

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

### 14) [P] Show at least three techniques to select scores for Wednesday using an integer.

In [16]:
#Using loc
print(scores.loc[::1, 'Wed':'Wed'])
print()

#Using direct indexing
print(scores[days[2]])
print()

#Using iloc
print(scores.iloc[:, 2])
print()

          Wed
week_1   8.00
week_2  10.00
week_3   9.75

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

### 15) [P] Select the data for the first week using the string "week_1"

In [17]:
print(scores.filter(like = 'week_1', axis = 0))

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

### 16) [P] Select the data for the first week using a slice(HINT: 0:1)

In [18]:
print(scores.iloc[0,:])

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

### 17) [P] Show at least two techniques to select the data for the second week using an integer

In [19]:
print(scores.iloc[1,:])
print()
print(scores.loc['week_2':'week_2', ::1])

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

        Mon  Tue   Wed   Thu   Fri
week_2  9.0  8.0  10.0  8.75  7.25

### 18) [P] Select Monday and Friday of the first and third week.

In [20]:
print(scores.iloc[::2, ::4])

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  6.00

### 19) [P] Report the mean for each week

In [21]:
print(scores.mean(axis = 1))

week_1    8.80
week_2    8.60
week_3    8.25
dtype: float64

### 20) [P] For each week, report how much each day's score for that week differed from the mean for the week

In [22]:
print(scores.iloc[:, :].subtract(scores.mean(axis = 1), axis = 0))

         Mon   Tue  Wed   Thu   Fri
week_1  0.70 -0.05 -0.8  1.20 -1.05
week_2  0.40 -0.60  1.4  0.15 -1.35
week_3  0.25 -0.25  1.5  0.75 -2.25

### 21) [P] Report the maximum score for each week

In [23]:
print(scores.max(axis = 1))

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

### 22) [P] For each week, report which day had the largest score
Should get: Thu, Wed, Wed

In [24]:
print(scores.idxmax(axis=1))

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

### 23) [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [25]:
print(scores*10)

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  60.0